*{
  margin: 0;
  padding: 0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(244,253,249,0.9);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 8%;
  z-index: 1000;
  border-bottom: 1px solid #eadfd8;
}

.logo{
  font-family:'Cormorant Garamond', serif;
  font-size: 2rem;
  letter-spacing: 4px;
}

nav{
  display: flex;
  gap: 30px;
}

nav a{
  text-decoration: none;
  color: #5b4343;
  font-size: .95rem;
  letter-spacing: 1px;
}
body{
  background: #FFB6C1;
  font-size: 14px;
  font-family: "Elms Sans", sans-serif;
}

.container{
  width: 80%;
  margin: 50px auto;
}

.contact-box{
  background: #fff;
  display: flex;
}

.contact-left{
  flex-basis: 60%;
  padding: 40px 60px;
}
.contact-right{
  flex-basis: 40%;
  padding: 40px;
  background: #FFE6EA;
  color: #000000;
}
h1{
  margin-bottom: 10px;
}
.container p{
  margin-bottom: 40px;
}

.input-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group{
  flex-basis: 45%;
}
input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}
textarea{
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  bpx-sizing: border-box;
}

label{
  margin-bottom: 6px;
  display: block;
  color: #0000;
}

button{
  background: #F8C8DC;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}

.contact left h3{
  color: #F8C8DC;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact right h3{
  font-weight: 600;
  margin-bottom: 30px;
}

tr td:first-child{
  padding-right: 20px;
}

tr td{
  padding-top: 20px;
  }
footer{
  text-align: center;
  padding: 50px;
  border-top: 1px solid #eadfd8;
  color: #8a7777;
}

@media(max-width:768px){
  .hero h1{
    font-size: 3rem;
  }
